	<div id="pickedProject" class="container">
		<div uib-alert ng-show="showInnerAlert" ng-class="'alert-' + (alertType || 'warning')">{{alertMsg}}</div>
		<div class="pickedHeader" ng-hide="!$parent.interPicked">
			<button class="btn" ng-click="pickPreviousProject()"><i class="icon-left-arrow" aria-hidden="true"></i></button>
			<button class="btn" ng-click="pickNextProject()"><i class="icon-right-arrow" aria-hidden="true"></i></button>
			<button class="btn" ng-click="delete()">Supprimer</button>
	  	</div>
			<form>
		  <div class="row">
		    <div class="col">
		      	<div class="form-group">
			      <label>Titre :</label>
			      <input type="text" ng-model="currentProject.title" class="form-control">
			    </div>
			    <div class="form-group">
			      <label>Type :</label>
			      <input type="text" ng-model="currentProject.type" class="form-control">
			    </div>
			    <div class="form-group">
			      <label>Libeller :</label>
			      <input type="text" ng-model="currentProject.tag" class="form-control">
			    </div>
			    <div class="form-group">
			      <label>Type de client :</label>
			      <input type="text" ng-model="currentProject.customerType" class="form-control">
			    </div>
			    <div class="form-group">
			      <label>Client :</label>
			      <input type="text" ng-model="currentProject.customer" class="form-control">
			    </div>
		    </div>
		    <div class="col">
			    <div class="form-group">
			      <label>Date :</label>
			      <input type="text" ng-model="currentProject.date" class="form-control">
			    </div>
			    <div class="form-group">
				    <label>Image vignette :</label>
				    <input type="text" ng-model="currentProject.thumb" class="form-control">
				</div>
				 <div class="form-group">
				    <label>Image du détail :</label>
				    <input type="text" ng-model="currentProject.image" class="form-control">
				</div>
			    <div class="form-group">
			      <label>Description :</label>
			      <textarea ng-model="currentProject.text" class="form-control" rows="6"></textarea>
			    </div>
		    </div>
		  </div>
	    <button type="button" class="btn" id="btnModif" ng-click="modif(currentProject)">Modifier</button>
		</form>
	</div>
