	<div id="pickedProject" class="container">
		<div class="pickedHeader" ng-hide="!$parent.interPicked">
			<button class="btn" ng-click="pickPreviousProject()"><i class="icon-left-arrow" aria-hidden="true"></i></button>
			<button class="btn" ng-click="pickNextProject()"><i class="icon-right-arrow" aria-hidden="true"></i></button>
			<button class="btn" ng-click="closePickedProject()"><i class="icon-close" aria-hidden="true"></i></button>
	  	</div>
			<img class="col-7 animated" src="../../../assets/{{projet.image}}" alt="Card image cap" ng-hide="!$parent.interPicked" ng-class="{zoomIn: $parent.animateProject == 0, zoomOut: $parent.animateProject == 1}">
			<div class="col-5 animated pickedBody"  ng-hide="!$parent.interPicked" ng-class="{zoomIn: $parent.animateProject == 0, zoomOut: $parent.animateProject == 1}">
				<h4 class="title">{{projet.title}}</h4>
				<p class="libeller">{{projet.tag}}</p>
				<p class="info" style="margin-bottom: 0;" ng-show="projet.customer != ''">{{projet.customerType}} : <span>{{projet.customer}}</span></p>
				<p class="info" ng-show="projet.date" ng-if="!projet.date.includes(',')">Année : <span>{{projet.date}}</span></p>
				<p class="info" ng-show="projet.date" ng-if="projet.date.includes(',')">Années : <span>{{projet.date}}</span></p>
				<p class="text">{{projet.text}}</p>
				<p class="info" ng-show="projet.type" ng-if="!projet.type.includes(',')">Catégorie : <span>{{projet.type}}</span></p>
				<p class="info" ng-show="projet.type" ng-if="projet.type.includes(',')">Catégories : <span>{{projet.type}}</span></p>
			</div>
	</div>