#pickedProject .pickedHeader{
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
}
#pickedProject img{
    padding: 0;
    height: auto;
}
#pickedProject .pickedBody{
    float: right;
    padding-left: 30px;
    padding-right: 0;
}
#pickedProject .btn{
    height: 29px;
    width: 29px;
    padding: 6px 4px;
}
#pickedProject .btn:last-child{
    float: right;width: auto;padding: 5px;
}
#pickedProject .btn:nth-child(2){
    padding: 6px 4px 6px 7px;
    margin-left: 15px;
}
#pickedProject h4{
    font-family: 'FuturaBook';
    font-weight: 700;
    margin-bottom: 5px;
}
#pickedProject .libeller{
    font-family: 'badScript';
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}
#pickedProject span{
    color: #fe0072;
}
#pickedProject .info{
    text-transform: capitalize;
}
#pickedProject p:not(:first-child){
    margin-bottom: 20px
}
#pickedProject .animated{
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}
#pickedProject #btnModif {
    width: auto;
    padding: 5px;
    float: left;
}